# flyctl launch added from .gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/.env
**/.venv
**/venv
**/*.egg-info
**/dist
**/build
**/.pytest_cache
**/.mypy_cache
**/*.log

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*
fly.toml
